name: Continuous build

on:
  workflow_dispatch :

jobs:

  BuildLinuxAarch64:
    runs-on: ubuntu-24.04-arm
    
    steps:
      - name: Checkout workflow repo
        uses: actions/checkout@v4

      - name: Clone LibreCAD source
        run: |
          git clone https://github.com/LibreCAD/LibreCAD.git


      - name: Install Qt and dependencies
        run: |
          sudo apt-get -y update
          sudo apt-get -qq install qmake6 qt6-base-dev qt6-declarative-dev qt6-image-formats-plugin-pdf qt6-pdf-dev linguist-qt6
          sudo apt-get -qq install qt6-svg-dev libqt6svgwidgets6 qt6-l10n-tools qtchooser qt6-wayland-dev qt6-tools-dev
          sudo apt-get -qq install libgl-dev libxcb-cursor0 libmuparser-dev libboost-dev libssl-dev libssl3
          sudo apt-get -qq install imagemagick librsvg2-bin libfreetype6-dev libicu-dev pkg-config libfuse2 rsync
          sudo apt-get -qq install cmake

      - name: Install Clang
        run: |
          sudo apt-get -qq install clang-18 clang-tools-18

      - name: Set Dark splash
        # Test setting dark splash screen for `2.2.2_alpha`,
        # then switch "Loading..." label text color to white.
        # Comment this if `master` is used for releases.
        if: github.ref == 'refs/heads/master'
        run: |
          mkdir -p ${{github.workspace}}/librecad/res/main
          rsync ${{github.workspace}}/desktop/media/splash/librecad01_dark.png ${{github.workspace}}/librecad/res/main/splash_librecad.png
          sed -i 's/Qt::black/Qt::white/g' ${{github.workspace}}/librecad/src/main/main.cpp
          sed -i '/fontweight/d' ${{github.workspace}}/librecad/src/ui/dock_widgets/ucs_list/lc_dlgucsproperties.ui

      - name: Build and analyze
        run: |
          cd LibreCAD
          export CC=clang
          export CXX=clang++
          export ANALYZE="scan-build-18 -o out --use-cc=/usr/bin/clang++ --use-analyzer=/usr/bin/clang++ "
          #${ANALYZE}qmake6 -r librecad.pro CONFIG+=debug_and_release PREFIX=/usr
          #${ANALYZE}make release -j$(nproc)
          cmake -S . -B unix
          cmake --build unix -j$(nproc)

      - name: Create AppImage
        run: |
          cd LibreCAD
          find unix/
          ./CI/build-appimg-aarch64.sh
          #mv LibreCAD*.AppImage LibreCAD-`git describe --always`-aarch64.AppImage

      - name: List files
        run: |
          cd LibreCAD
          echo ${{ github.workspace }} && ls ${{ github.workspace }}
        shell: bash

      - name: Upload artifact
        id: artifact-upload-step
        uses: actions/upload-artifact@v4
        with:
          name: linuxAssetsAarch64
          path: LibreCAD/LibreCAD*.AppImage
          retention-days: 2

  
